$yellow: #ffd83b;
$bgPurple: #ba36db;
$lightPurple: #cbc3e3;
$black: #323232;
$paraGrey: #a4a4a4;
$darkGrey: #838383;
$greyBlue: #8ca4d2;
$skyDarkBlue: #004c66;
$greenYellow: #cdad00;
$offWhite: #fbfbf8;
$tan: #d2ba8c;
