@import url(https://fonts.googleapis.com/css?family=Merriweather);
html {
  padding: 0 !important;
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0 !important; }
  body .bgImg1 {
    background-image: url("https://images.unsplash.com/photo-1519659085987-2e3c6dc45f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1359&q=80 "); }
  body .bgImg2 {
    background-image: url("https://images.unsplash.com/photo-1415650328328-1909c4ceabdb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1359&q=80 "); }
  body .bgImg3 {
    background-image: url("https://images.unsplash.com/photo-1472017454701-20a80cfeaac5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1359&q=80 "); }
  body .bgImg4 {
    background-image: url("https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1359&q=80 "); }

body {
  max-width: 100%;
  box-sizing: border-box; }
  body .headerStyle {
    padding-top: 20px;
    padding-bottom: 20px; }
  body h2 {
    color: #ffd83b;
    font-size: 3rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 1px 1px grey;
    letter-spacing: 3px;
    text-transform: uppercase; }
  body h3 {
    font-size: 2rem;
    color: #ffd83b;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: auto;
    text-shadow: 1px 1px grey;
    width: auto; }
  body p {
    color: #a4a4a4;
    margin: auto;
    width: 50%;
    font-size: 14px;
    line-height: 1.5; }
  body button {
    color: white;
    background: #ffd83b;
    text-shadow: 1px 1px #323232;
    font-size: 20px;
    font-style: italic;
    padding: 7px 13px;
    display: block;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px;
    border: 1px solid #838383;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 43px -37px 16px 3px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 10px 13px -7px #000000, 43px -37px 16px 3px rgba(0, 0, 0, 0.02); }
    body button:link {
      color: white !important; }
    body button:visited {
      color: #cdad00; }
    body button:hover {
      color: white !important;
      background-color: #004c66;
      padding: 7px 15px; }
    body button:active {
      color: #323232; }
  body .topnavRow {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 0;
    align-content: center;
    padding: 8px 0;
    text-align: right; }
    body .topnavRow img {
      width: 90px;
      height: 90px;
      object-fit: contain;
      float: left;
      padding-left: 20px;
      padding-bottom: 10px;
      margin-left: 40px; }
    body .topnavRow__topnavRight {
      margin-right: 40px; }
      body .topnavRow__topnavRight__a {
        color: #323232;
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        font-size: 15px;
        height: auto; }
        body .topnavRow__topnavRight__a:link {
          color: #323232; }
        body .topnavRow__topnavRight__a:visited {
          color: #323232; }
        body .topnavRow__topnavRight__a:hover {
          color: #838383;
          font-style: italic;
          text-decoration: none !important; }
        body .topnavRow__topnavRight__a:active {
          color: #323232; }
      body .topnavRow__topnavRight a button {
        color: white;
        background: #ffd83b;
        font-size: 12px;
        padding: 8px 12px;
        text-shadow: 1px 1px grey;
        border: 1px solid #838383;
        -webkit-box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48);
        box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48); }
        body .topnavRow__topnavRight a button:link {
          color: white; }
        body .topnavRow__topnavRight a button:visited {
          color: #cdad00; }
        body .topnavRow__topnavRight a button:hover {
          color: white;
          background-color: #004c66; }
        body .topnavRow__topnavRight a button:active {
          color: #323232; }
  body .imageRow {
    max-width: 100%;
    color: white;
    max-height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    body .imageRow__textArea {
      max-width: 100%;
      min-width: 100%;
      height: 80vh;
      margin-left: auto;
      margin-right: auto; }
      body .imageRow__textArea__secArrow__imgArrow {
        font-size: 2.8rem;
        text-shadow: 1px 1px grey; }
        body .imageRow__textArea__secArrow__imgArrow:hover {
          color: #a4a4a4; }
      body .imageRow__textArea__center {
        text-align: center; }
        body .imageRow__textArea__center__h4 {
          font-size: 15px;
          letter-spacing: 3.5px;
          text-shadow: 1px 1px #323232; }
        body .imageRow__textArea__center__h1 {
          font-size: 5rem;
          text-transform: uppercase;
          letter-spacing: 6px;
          text-shadow: 2px 2px #323232;
          width: auto; }
        body .imageRow__textArea__center__btn a {
          color: white; }
        body .imageRow__textArea__center__dotsMenu {
          margin-top: 5rem; }
          body .imageRow__textArea__center__dotsMenu .fa-circle {
            margin-left: 0.5rem;
            font-size: 1rem; }
  body .introRow {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto; }
    body .introRow__h3 {
      font-family: cursive;
      font-style: italic;
      font-size: 4rem;
      text-shadow: 2px 2px grey;
      padding-bottom: 12px; }
    body .introRow__p {
      font-size: 18px; }
  body .guidedRow {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto; }
  body .picLinkRow {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative; }
    body .picLinkRow__imgArea {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      body .picLinkRow__imgArea__singleImg {
        padding: 10px 50px 50px;
        position: relative; }
        body .picLinkRow__imgArea__singleImg__icons {
          height: 450px;
          width: 450px;
          -webkit-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57);
          -moz-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57);
          box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57);
          position: relative; }
        body .picLinkRow__imgArea__singleImg__textArea {
          position: absolute;
          bottom: 50px;
          left: 70px; }
          body .picLinkRow__imgArea__singleImg__textArea h5 {
            color: white;
            letter-spacing: 0.8px;
            font-size: 14px;
            margin-bottom: 6px;
            text-shadow: 1px 1px grey; }
          body .picLinkRow__imgArea__singleImg__textArea h3 {
            color: #ffd83b;
            letter-spacing: 1px;
            font-size: 15px;
            margin-top: 6px;
            margin-bottom: 18px;
            text-transform: uppercase;
            text-shadow: 1px 1px grey; }
  body .onboardRow {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
    height: auto; }
  body .boatImagesRow__imgArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .boatImagesRow__imgArea__singleImg {
      padding: 10px 50px 50px; }
      body .boatImagesRow__imgArea__singleImg__icons {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        border: solid 1px grey;
        -webkit-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57);
        box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.57); }

.footer {
  background: #838383;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  color: white; }
  .footer__menu {
    padding-inline-start: 0px; }
    .footer__menu li {
      display: inline-block;
      padding: 20px; }
      .footer__menu li:hover {
        text-decoration: underline; }
      .footer__menu li a {
        font-weight: 600;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem; }
  .footer__socialMedia {
    padding-bottom: 20px;
    padding-left: 0px; }
    .footer__socialMedia li {
      display: inline-block;
      padding: 0 10px; }
      .footer__socialMedia li a {
        padding: 2px;
        color: white;
        font-size: 2rem;
        opacity: 0.5; }
  .footer p {
    font-size: 0.8rem;
    font-weight: 300; }

/* Desktop and all screens bigger than that */
/* laptop devices */
/* tablet devices */
/* mobile devices */
@media only screen and (max-width: 769px) {
  p {
    color: #a4a4a4;
    margin: auto;
    width: 80% !important;
    font-size: 14px;
    line-height: 1.5; }

  .topnavRow img {
    display: none; } }
/*when the top nav button moves*/
@media only screen and (max-width: 609px) {
  .topnavRow {
    margin-right: auto !important;
    margin-left: auto !important; }
    .topnavRow img {
      display: none; }
    .topnavRow__topnavRight {
      margin-right: auto !important;
      margin-left: auto !important; }
      .topnavRow__topnavRight__a {
        font-size: 11px !important; }
      .topnavRow__topnavRight a:nth-child(5) {
        display: none !important; }
        .topnavRow__topnavRight a:nth-child(5) button {
          display: none !important; }

  .imageRow {
    height: 100vh !important; }
    .imageRow__textArea {
      max-width: 70%;
      display: relative;
      object-fit: contain; }
      .imageRow__textArea__h1 {
        font-size: 2rem !important; }
      .imageRow__textArea__btn {
        color: white;
        background: #ffd83b;
        font-size: 20px;
        font-style: italic;
        padding: 7px 13px;
        text-shadow: 1px 1px grey; }
      .imageRow__textArea__secArrow {
        display: none; }

  .picLinkRow {
    margin-left: auto !important;
    margin-right: auto !important; }
    .picLinkRow__imgArea {
      display: block;
      align-items: center;
      margin-left: auto !important;
      margin-right: auto !important; }
      .picLinkRow__imgArea__singleImg {
        padding: 5px 5px 30px 5px !important;
        margin-left: auto !important;
        margin-right: auto !important; }
        .picLinkRow__imgArea__singleImg__icons {
          width: 300px !important;
          height: 400px !important; }
        .picLinkRow__imgArea__singleImg__textArea {
          position: absolute;
          bottom: 35px !important;
          left: 37px !important; }

  .onboardRow__h2 {
    font-size: 35px !important; }

  .boatImagesRow {
    margin-left: auto !important;
    margin-right: auto !important; }
    .boatImagesRow__imgArea {
      display: block;
      align-items: center;
      margin-left: auto !important;
      margin-right: auto !important; }
      .boatImagesRow__imgArea__singleImg {
        padding: 5px 5px 30px 5px !important;
        margin-left: auto !important;
        margin-right: auto !important; }
        .boatImagesRow__imgArea__singleImg__icons {
          width: 200px !important;
          height: 200px !important; } }
/*******************************************************
START OF SEPARATE PAGES
***********************************************************/
.location .row {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important; }
  .location .row .item {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    padding-bottom: 80px; }
    .location .row .item h5 {
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center;
      width: 60%;
      padding-bottom: 20px;
      padding-top: 50px; }
    .location .row .item img {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      border-radius: 10%;
      width: 270px !important;
      height: 200px !important;
      margin-bottom: 15px; }
    .location .row .item .title {
      margin-bottom: 20px;
      margin-top: 40px;
      text-align: center; }

form {
  max-width: 600px;
  text-align: center;
  margin: 3rem auto; }
  form input,
  form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none; }
    form input:focus,
    form textarea:focus {
      box-shadow: 0 0px 2px red !important; }
  form #input-submit {
    color: white;
    background: #004c66;
    cursor: pointer; }
    form #input-submit:hover {
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6); }
  form textarea {
    height: 126px; }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0; } }
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px; }
  .grid img {
    width: 200px;
    height: 200px;
    cursor: pointer; }

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white; }

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 130px) !important; }
    .grid img {
      width: 130px !important;
      height: 130px !important; } }
@media only screen and (max-width: 769px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 90px) !important; }
    .grid img {
      width: 90px !important;
      height: 90px !important; } }
#diff-tours-row {
  margin: 0;
  padding: 0;
  max-width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  #diff-tours-row .wrapper {
    display: grid;
    grid-gap: 25px;
    padding-bottom: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    #diff-tours-row .wrapper .tour-item {
      height: auto;
      border-radius: 10px;
      -webkit-box-shadow: 6px 25px 32px -6px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 6px 25px 32px -6px rgba(0, 0, 0, 0.43);
      box-shadow: 6px 25px 32px -6px rgba(0, 0, 0, 0.43); }
      #diff-tours-row .wrapper .tour-item .pic-area {
        width: auto;
        height: 55%;
        position: relative; }
        #diff-tours-row .wrapper .tour-item .pic-area img {
          width: 100%;
          height: 360px;
          object-fit: cover;
          border-radius: 10px 10px 0 0; }
        #diff-tours-row .wrapper .tour-item .pic-area button {
          font-size: 1rem;
          border-radius: 10%;
          padding: 8px;
          position: absolute;
          bottom: 15px;
          right: 15px; }
      #diff-tours-row .wrapper .tour-item .text-area {
        object-fit: contain;
        height: 45%;
        padding-left: 10px;
        color: grey;
        background-color: #fbfbf8;
        position: relative; }
        #diff-tours-row .wrapper .tour-item .text-area h5 {
          color: #323232;
          letter-spacing: 1.5px;
          font-family: Poppins, cursive;
          font-weight: bold;
          padding-top: 20px; }
        #diff-tours-row .wrapper .tour-item .text-area p {
          font-size: 0.9rem;
          width: 100%;
          color: grey;
          margin: 0;
          padding: 0;
          padding-bottom: 10px; }
          #diff-tours-row .wrapper .tour-item .text-area p span {
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
            padding-left: 10px; }
        #diff-tours-row .wrapper .tour-item .text-area .price,
        #diff-tours-row .wrapper .tour-item .text-area .duration {
          font-style: italic; }
    #diff-tours-row .wrapper .one {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    #diff-tours-row .wrapper .two {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    #diff-tours-row .wrapper .three {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    #diff-tours-row .wrapper .four {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    #diff-tours-row .wrapper .five {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    #diff-tours-row .wrapper .six {
      grid-column: 3 / 4;
      grid-row: 2 / 3; }

.text-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .text-box .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;
    height: 30%;
    border-radius: 50px;
    -webkit-box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48);
    box-shadow: 16px 10px 16px -3px rgba(0, 0, 0, 0.48); }
  .text-box p {
    width: 60%;
    font-size: 15px;
    margin-bottom: 30px; }
  .text-box button {
    margin-bottom: 50px; }
    .text-box button a {
      color: white; }
      .text-box button a:hover {
        color: #a4a4a4; }

.signInForm {
  background-color: #8ca4d2;
  padding: 30px;
  border-radius: 4%; }
  .signInForm label {
    color: #fbfbf8; }
  .signInForm p {
    color: #fbfbf8; }
  .signInForm a {
    color: #323232;
    text-decoration: underline; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  background: #f1f1f1;
  font-family: "Merriweather", sans-serif;
  padding: 1em; }

/*# sourceMappingURL=main.css.map */
