html {
  padding: 0 !important;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0 !important;

  //images to change for the background on the home page
  .bgImg1 {
    background-image: url(../img/bgImg1.jpeg);
  }
  .bgImg2 {
    background-image: url(../img/bgImg2.jpeg);
  }
  .bgImg3 {
    background-image: url(../img/bgImg3.jpeg);
  }
  .bgImg4 {
    background-image: url(../img/bgImg4.jpeg);
  }
}
