

$yellow: #FFD83B;
$bgPurple: #BA36DB;
$black : #323232;
$paraGrey: #A4A4A4;
$darkGrey: #838383;
$skyDarkBlue: #004C66;
$greenYellow: #cdad00;
$offWhite: #FBFBF8;

html {
  padding: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0 !important;

//Basic styling for repeated tags
  .headerStyle {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    color: $yellow;
    font-size: 3rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 1px 1px grey;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2rem;
    color: $skyDarkBlue;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: auto;
    text-shadow: 1px 1px grey;
    width: auto;
  }
  p {
    color: $paraGrey;
    margin: auto;
    width: 50%;
    font-size: 14px;
    line-height: 1.5;
  }
  button {
    color: white;
    background: $yellow;
    text-shadow: 1px 1px $black;
    font-size: 20px;
    font-style: italic;
    padding: 7px 13px;
    display: block;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px;
    border: 1px solid $darkGrey;
    -webkit-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
    box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
    &:link {
      color: white !important;
    }
    &:visited {
      color: $greenYellow;
    }
    &:hover {
      color: white !important;
      background-color: $skyDarkBlue;
      padding: 7px 15px;
    }
    &:active {
      color: $black;
    }
  }


//End basic styling for repeated tags



  #topnav-row {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 0;
    align-content: center;
    padding: 8px 0;
    text-align: right;
    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
      float: left;
      padding-left: 20px;
      padding-bottom: 10px;
      margin-left: 40px;
      }
      .topnav-right {
        margin-right: 40px;
        a {
          color: $black;
          display: inline-block;
          text-align: center;
          padding: 14px 16px;
          font-size: 15px;
          height: auto;
          &:link {
            color: $black;
          }
          &:visited {
            color: $black;
          }
          &:hover {
            color: $darkGrey;
            font-style: italic;
            text-decoration: none !important;
          }
          &:active {
            color: $black;
          }
        }
        a button {
          color: white;
          background: $yellow;
          font-size: 12px;
          padding: 8px 12px;
          text-shadow: 1px 1px grey;
          border: 1px solid $darkGrey;
          -webkit-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
          -moz-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
          box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
          &:link {
            color: white;
          }
          &:visited {
            color: $greenYellow;
          }
          &:hover {
            color: white;
            background-color: $skyDarkBlue;
          }
          &:active {
            color: $black;
          }

        }
      } //end of topnav-right
    } //end topnav-row

  #image-row {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white;
    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h4 {
        font-size: 15px;
        letter-spacing: 3.5px;
        text-shadow: 1px 1px $black;
      }
      h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: auto;
        text-shadow: 2px 2px $black;
        width: auto;
      }
      button {
        a {
          color: white;
        }
      }
    } // end text-area
  } // end atmo-image-row

  #intro-row{
    padding-top: 100px;
    padding-bottom:100px;
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
    h3 {
      font-family: cursive;
      font-style: italic;
      font-size: 4rem;
      text-shadow: 2px 2px grey;
      padding-bottom: 12px;
    }
    p {
      font-size: 18px;
    }
  }// end intro-row

  #guided-row {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
  } // end guided-row

  #pic-link-row {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    .img-area {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .single-img {
        padding: 10px 50px 50px;
        position: relative;
        .icons {
          height: 450px;
          width: 450px;
          -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
          -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
          box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
          position: relative;
        } // end icons
        .text-area {
          position: absolute;
          bottom: 50px;
          left: 70px;
          h5 {
            color: white;
            letter-spacing: .8px;
            font-size: 14px;
            margin-bottom: 6px;
            text-shadow: 1px 1px grey;
          }
          h3 {
            color: $yellow;
            letter-spacing: 1px;
            font-size: 15px;
            margin-top: 6px;
            margin-bottom: 18px;
            text-transform: uppercase;
            text-shadow: 1px 1px grey;
          }
        } // end text-area
      } // end img-container
    } // end navbar
  } //end pic-link-row

  #onboard-row {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
    height: auto;
  } // end onboard-row

  #boat-images-row {
    .img-area {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .single-img {
        padding: 10px 50px 50px;
        .icons {
          height: 300px;
          width: 300px;
          border-radius: 10px;
          border: solid 1px grey;
          -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
          -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
          box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.57);
        }
      }
    }
  } // end boat-images-row

} // end body




footer {
  background: $darkGrey;
	padding-top: 25px;
  padding-bottom: 10px;
	text-align: center;
	color: white;
  width: 100%;
  .menu {
  	padding-inline-start: 0px;
    li {
    	display: inline-block;
    	padding: 20px;
      &:hover {
        text-decoration: underline;
      }
      a {
      	font-weight: 600;
      	color: white;
      	text-decoration: none;
      	text-transform: uppercase;
      	font-size: 0.8rem;
      }
    }
  }
  .social-media {
    padding-bottom: 20px;
    padding-left: 0px;
    li {
    	display: inline-block;
      padding: 0 10px;
      a {
        padding: 2px;
      	color: white;
      	font-size: 2rem;
      	opacity: .5;

      }
    }
  }
  p {
  	font-size: 0.8rem;
  	font-weight: 300;
  }
}



/* Desktop and all screens bigger than that */
@media only screen and (min-width: 1425px) {
}

/* laptop devices */
@media only screen and (max-width: 1425px) {
}

/* tablet devices */
@media only screen and (max-width: 1023px) {
}

/* mobile devices */
@media only screen and (max-width: 769px) {

  // repeated tags
  p {
    color: $paraGrey;
    margin: auto;
    width: 80% !important;
    font-size: 14px;
    line-height: 1.5;
  }
  // END of repeated tags

  #topnav-row {
    img {
      display: none;
    }
  }
}

/*when the top nav button moves*/
@media only screen and (max-width: 609px) {

  #topnav-row {
    margin-right: auto !important;
    margin-left: auto !important;
    img {
      display: none;
    }
    .topnav-right {
      margin-right: auto !important;
      margin-left: auto !important;
      a {
        font-size: 11px !important;
      }
      a:nth-child(5) {
        display: none !important;
        button {
          display: none !important;

        }
      }
    }
  }

  #image-row{
    width: 100%;
    height: 100vh !important;
    img {
      height: 100vh !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    button {
      color: white;
      background: $yellow;
      font-size: 20px;
      font-style: italic;
      padding: 7px 13px;
      text-shadow: 1px 1px grey;
    }
  }

  #pic-link-row {
    margin-left: auto !important;
    margin-right: auto !important;
    .img-area {
      display: block;
      align-items: center;
      margin-left: auto !important;
      margin-right: auto !important;
      .single-img {
        padding: 5px 5px 30px 5px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        .icons {
          width: 300px !important;
          height: 400px !important;
        }
        .text-area {
          position: absolute;
          bottom: 35px !important;
          left: 37px !important;
        }
      }
    }
  } //end pic-link-row

  #onboard-row {
    h2 {
      font-size: 35px !important;
    }
  }

  #boat-images-row {
    margin-left: auto !important;
    margin-right: auto !important;
    .img-area {
      display: block;
      align-items: center;
      margin-left: auto !important;
      margin-right: auto !important;
      .single-img {
        padding: 5px 5px 30px 5px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        .icons {
          width: 200px !important;
          height: 200px !important;
        }
      }
    }
  } // end boat-images-row

}







/*******************************************************
START OF SEPARATE PAGES
***********************************************************/

// START LOCATIONS CSS

.parent-container{
  .row {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    .item {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%;
      padding-bottom: 80px;
      h5 {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
        width: 60%;
        padding-bottom: 20px;
        padding-top: 50px;
      }
      img {
        display: block ;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 10%;
        width: 270px !important;
        height: 200px!important;
        margin-bottom: 15px;
      }
      .title {
        margin-bottom: 20px;
        margin-top: 40px;
        text-align: center;
      }
    }
  }
}

// END HTML LOCATIONS CSS





// START  HTML GALLERY CSS


.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  img {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 130px) !important;
    img {
      width: 130px !important;
      height: 130px !important;
    }
  }
}

@media only screen and (max-width: 769px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 90px) !important;
    img {
      width: 90px !important;
      height: 90px !important;
    }
  }
}


//END HTML GALLERY CSS



//START HTML TOUR CSS



#diff-tours-row {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
    .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(400px, auto);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    width: 70%;
    .tour-item {
      color: white;
      border-radius: 10px;
      -webkit-box-shadow: 4px 6px 5px -2px rgba(112,106,112,0.86);
      -moz-box-shadow: 4px 6px 5px -2px rgba(112,106,112,0.86);
      box-shadow: 4px 6px 5px -2px rgba(112,106,112,0.86);
      .pic-area {
        width: auto;
        img {
          object-fit: contain;
          border-radius: 10px 10px 0 0;
          height: 50%;
          width: 100%;
        }
      }
      .text-area {
        p {
          color: $offWhite;
        }
      }
    }
    .one {
      color: white;
      background-color: brown;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .two {
      color: white;
      background-color: $black;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .three {
      color: white;
      background-color: green;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .four {
      color: white;
      background-color:  grey;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .five {
      color: white;
      background-color: gold;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .six {
      color: white;
      background-color: pink;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
} //end diff-tours-row


//END HTML TOURS CSS



//START HTML ABOUT US CSS



.text-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50%;
    height: 30%;
    border-radius: 50px;
    -webkit-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
    box-shadow: 16px 10px 16px -3px rgba(0,0,0,0.48);
  }
  p{
    width: 60%;
    font-size: 15px;
    margin-bottom: 30px;
  }
  button {
  margin-bottom: 50px;
    a {
      color: white;
      &:hover {
        color: $paraGrey;
      }
    }
  }
}

//END HTML ABOUT US CSS



@import url(https://fonts.googleapis.com/css?family=Merriweather);


*,
*:before,
*:after {
   box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}



form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;

  input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius: 8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow: 0 1px 1px rgba(black, 0.1);
     resize: none;

    &:focus {
       box-shadow:0 0px 2px rgba(red, 1)!important;
    }
  }

  #input-submit {
     color: white;
     background: $skyDarkBlue;
     cursor: pointer;

    &:hover {
       box-shadow:0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }

  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
