

$yellow: #FFD83B;
$bgPurple: #BA36DB;
$black : #323232;
$paraGrey: #A4A4A4;
$darkGrey: #838383;
$greenYellow: #cdad00;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
  #topnav-row {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 0;
    align-content: center;
    padding: 8px 0;
    text-align: right;
    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      float: left;
      padding-left: 20px;
      margin-left: 40px;
      }
      .topnav-right {
        margin-right: 40px;
        a {
          color: $black;
          display: inline-block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 15px;
          height: auto;
        }
        a button {
          color: white;
          background: $yellow;
          font-size: 12px;
          padding: 8px 12px;
          text-shadow: 1px 1px grey;
        }
      } //end of topnav-right
    } //end topnav-row
  #image-row {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    img {
      width: 100%;
      height: 93vh;
      object-fit: cover;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h4 {
        font-size: 15px;
        letter-spacing: 3.5px;
        text-shadow: 1px 1px grey;
      }
      h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: auto;
        text-shadow: 2px 2px grey;
        width: auto;
      }
      button {
        color: white;
        background: $yellow;
        font-size: 20px;
        font-style: italic;
        padding: 7px 13px;
        text-shadow: 1px 1px grey;
      }
    } // end text-area
  } // end atmo-image-row
  #guided-row {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
    h2 {
      color: $yellow;
      font-size: 2.9rem;
      text-shadow: 1px 1px grey;
      margin-bottom: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    p {
      color: $paraGrey;
      margin: auto;
      width: 25%;
      font-size: 10px;
      line-height: 1.6;
    }
  } // end guided-row
  #pic-link-row {
    margin: 0;
    padding: 0;
    width: 100%;
    .navbar {
      margin: 0;
      width: 100%;
      display: inline-block;
      position: relative;
      text-align: center;
      color: white;
      height: auto;
      padding: 0 !important;
      .img-container {
        float: left;
        width: 33.33%;
        margin: 0;
        text-align: center;
        position: relative;
        text-align: left;
        color: blue;
        height: auto;
        .icons {
          height: 500px;
          width: 100%;
        } // end icons
        .text-area {
          position: absolute;
          bottom: 8px;
          left: 16px;
          h5 {
            color: white;
            letter-spacing: .8px;
            font-size: 10px;
            margin-bottom: 6px;
            text-shadow: 0.5px 0.5px grey;
          }
          h3 {
            color: $yellow;
            letter-spacing: 1px;
            font-size: 15px;
            margin-top: 6px;
            margin-bottom: 18px;
            text-transform: uppercase;
            text-shadow: 0.5px 0.5px grey;
          }
        } // end text-area
      } // end img-container
      .arrow-nav {
        z-index: 4;
        color: white;
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 25px;
        .fa-angle-right {
          padding-left: 20px;
          background: $yellow;
          padding: 10px 20px 10px 10px;
        }
        .fa-angle-left {
          padding-right: 20px;
          background: $greenYellow;
          padding: 10px 20px 10px 10px;
        }
      }
      .search-circle {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: auto;
        padding: 20px;
        color: white;
        background: $yellow;
        border: 3px solid $greenYellow;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        .fa-search-plus {
          text-align: center;
          font-size: 23px;
          font-weight: bold;
          position: relative;
          top: -11px;
          left: -12px;
        }
      }
    } // end navbar
  } //end pic-link-row
  #onboard-row {
    width: 100%;
    text-align: center;
    margin: 49px auto 62px auto;
    height: auto;

    h2 {
      color: $yellow;
      font-size: 2.9rem;
      text-shadow: 1px 1px grey;
      margin-bottom: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    p {
      color: $paraGrey;
      margin: auto;
      width: 25%;
      font-size: 10px;
      line-height: 1.6;
    }
  } // end onboard-row
  #boat-images-row {

    .img-area {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .single-img {
        padding: 0 50px 50px;
        .icons {
          height: 300px;
          width: 300px;
        }
      }
    }
  } // end boat-images-row
} // end body



footer {
	background: $darkGrey;
	padding: 30px 0;
	text-align: center;
	color: white;

}



footer {
  .menu {
  	margin-bottom: 20px;
    li {
    	display: inline-block;
    	padding: 10px 20px;
      a {
      	font-weight: 600;
      	color: white;
      	text-decoration: none;
      	text-transform: uppercase;
      	font-size: 0.8rem;
      }
    }
  }
}



footer{
  p {
  	font-size: 0.8rem;
  	font-weight: 300;
  	margin-bottom: 40px;
  }
}

footer {
  .social-media {
    li {
    	display: inline-block;
    	padding: 0 10px;
      a {
      	color: white;
      	font-size: 2rem;
      	opacity: .5;
      }
    }
  }
}

/* Desktop and all screens bigger than that */
@media only screen and (min-width: 1425px) {
  // #topnav-row, #guided-row, #onboard-row {
  //   background-color: green;
  // }
  //
}

/* laptop devices */
@media only screen and (max-width: 1425px) {
  // #topnav-row, #guided-row, #onboard-row {
  //   background-color: blue;
  // }
  //make the images one on top of the other in NAVBAR
}

/* tablet devices */
@media only screen and (max-width: 1023px) {
  // #topnav-row, #guided-row, #onboard-row {
  //   background-color: red;
  // }
  #boat-images-row{

  }
}

/* mobile devices */
@media only screen and (max-width: 769px) {
  // #topnav-row, #guided-row, #onboard-row {
  //   background-color: yellow;
  // }
  #topnav-row {
    img {
      display: none;
    }
    .topnav-right {
      //code to maje menu get centered
    }
  }
  #boat-images-row{

  }
}

/*when the top nav button moves*/
@media only screen and (max-width: 609px) {
  #topnav-row, #guided-row, #onboard-row {
    // background-color: pink;
  }
  #topnav-row {
    // img {
    //   display: none;
    // }
    // .topnav-right {
    //   display: block;
    //   align-items: center;
    //   margin-right: 0px !important;
    //   margin-left: 0 !important;
    //   a {
    //     padding: 0;
    //     width: 100%;
    //     margin: auto!important;
    //     font-size: 26px;
    //   }
    //
    // }
  }
  #image-row{
    width: 100%;
    h1 {
      font-size: 3rem !important;

    }
    button {
      color: white;
      background: $yellow;
      font-size: 20px;
      font-style: italic;
      padding: 7px 13px;
      text-shadow: 1px 1px grey;
    }
  }
  #boat-images-row {
    .img-area {


      .single-img {
        padding: 0 10px 10px !important;
        .icons {
          height: 300px;
          width: 300px;
        }
      }
    }
  } // end boat-images-row

}
